{{!-- {{#if logged_in}} --}}
<div class="card">
    <h3 class="card-header">{{post.title}} </h3>
    {{post.body}}
</div>
<form class="card-body comment-form" id="comment-form">
    <p>Add comment </p>
    <textarea id='comment'>

     </textarea>
    <button class="comment" data-post_id={{post.id}}>submit</button>
</form>

{{#each post.comments as |comment|}}
<p> {{comment.body}}  posted by {{user.username}} </p>
{{/each}}
{{!-- {{/if}} --}}

<script src="/js/comment.js"></script>